@font-face {
  font-family: font-logo;
  src: url(/font/Norse-Bold.otf);
}

@font-face {
  font-family: font-form;
  src: url(/font/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: my-font;
  src: url(/font/Roboto/Roboto-Medium.ttf);
}

:root {
  --btn-color: #596d48;
  --border-color: #e5e7eb;
  --border-active-color: #3480fa;
  --border-error-color: #ff1f3d;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
}

.background {
  position: relative;
  height: 100vh;
}

/* resize the big image */
img:nth-child(1) {
  height: 100vh;
  display: block;
}

/* styling the transparent bg with logo inside */
.transparent-bg {
  position: absolute;
  top: 0;
}

/* the transparent bg in image */
.transparent-bg {
  background-color: black;
  height: 150px;
  width: 100%;
  opacity: 45%;
}

/* resize the logo */
.logo-text > img {
  width: 100px;
  height: auto;
  padding-top: 10px;
}

/* edit the odin text */
.odin {
  margin: 0;
  color: white;
  font-size: 80px;
  font-family: font-logo;
}

/* text for the credit image */
.credit {
  color: var(--border-color);
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  font-family: font-form;
  font-size: 0.8rem;
}

.credit > a {
  color: var(--border-color);
}

.credit > a:visited {
  color: var(--border-color);
}

/* set the logo, transparent background, and odin text position */
.transparent-bg,
.logo-text {
  position: absolute;
  top: 22%;
}

/* styling the logo img and odin text */
.logo-text {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

/* styling the text in top part */
.top-part > p:nth-child(1),
.top-part > p:nth-child(2) {
  margin: 0;
}

.top-part > p:nth-child(1) {
  margin-top: 150px;
}

.top-part > p:nth-child(3) {
  margin-bottom: 50px;
}

.top-part > p,
.form > p {
  font-family: my-font;
  font-size: 1.3rem;
}
/* end of the text styling */

.form {
  background-color: white;
  padding: 5px 0 40px 0;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

label {
  display: block;
  font-family: my-font;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

/* add some space between the left image and the form */
.top-part,
.form,
.bot-part {
  padding-left: 35px;
  padding-right: 120px;
}

/* styling the form input */
input {
  border-radius: 3px;
  border: 1px solid var(--border-color);
  width: 100%;
  padding: 5px;
  height: 0.8rem;
}

::placeholder {
  opacity: 20%;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

input:focus::placeholder {
  color: transparent;
}

input:focus:invalid {
  border: 1px solid red;
}

/* styling the submit button */
button {
  width: 180px;
  height: 40px;
  color: whitesmoke;
  background-color: var(--btn-color);
  border-radius: 5px;
  border-style: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:hover {
  filter: brightness(90%);
}

button:active {
  filter: brightness(80%);
}

/* styling the bot part and the log in text */
.bot-part {
  margin-top: 30px;
}

.bot-part > p > a:visited {
  color: var(--btn-color);
}

.bot-part > p > a {
  text-decoration: none;
  cursor: pointer;
}

.bot-part > p > a:hover {
  filter: brightness(70%);
}

.bot-part > p {
  font-family: my-font;
  font-size: 0.9rem;
}
